<h1>Listing news</h1>

<table>
  <tr>
    <th>Name</th>
    <th>New date</th>
    <th>News categories</th>
    <th>Important</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.name %></td>
    <td><%= news.new_date %></td>
    <td><%= news.news_categories %></td>
    <td><%= news.important %></td>
    <td><%= link_to 'Show', news %></td>
    <td><%= link_to 'Edit', edit_news_path(news) %></td>
    <td><%= link_to 'Destroy', news, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New New', new_news_path %>
